.h1-about{
  align-items: center;
  justify-content: center;
  font-size: calc(2em + 0.5vmin); 
  color:#413c58;
  font-family: Calibri, 'Trebuchet MS', sans-serif;
  Padding: calc(5px + 0.5vmin);
  padding-top: 30px;
  padding-bottom: 30px;
  color: #a3e7f5
}

.h2-about{
  align-items:center;
  justify-content: center;
  font-size: calc(2em + 0.5vmin); 
  color:#413c58;
  font-family: Calibri, 'Trebuchet MS', sans-serif;
  Padding: calc(5px + 0.5vmin);
  padding-top: 30px;
  color: #a3e7f5
}
.gallery-about h3{
  color: #a3e7f5;
  font-family: Calibri, 'Trebuchet MS', sans-serif;
}

.p1-about{  
  align-items: center;
  justify-content: center;
  font-size: calc(1em + 0.5vmin); 
  color: #a3e7f5;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  Padding: 10px ;
}

.p2-about{
   
    font-size: calc(1em + 0.5vmin); 
    color: #a3e7f5;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.gallery-about {
    --s: 15vw; 
    --g: 10vw;  
  
    display: grid;
    gap: 1cm;
    width: calc(3*var(--s) + 2*var(--g)); 
    aspect-ratio: 1;
    grid-template-columns: fit-content(25%);
    padding-left: 50px;
  }

.gallery-about img {
  width: 8cm;
  height: 5cm;
  object-fit: cover;
  border-radius: 90px;
  border: 5px solid #a3e7f5;
}

.gallery-about img:hover{
  border: 5px solid #fff;
}

.gallery-about artists{
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  padding: 2.5vw;
  font-size:  calc(1em + 0.8vmin); 
  color: #a3e7f5;
}
.g-back{
  background:white;
  background-blend-mode: screen;
}

.gallery-about desc{
  display: grid;
  color: #a3e7f5;
}
.aboutProj{
  text-orientation: upright;
  grid-template-columns: fit-content(100%);
  min-width: 1000px;
}
::-webkit-scrollbar {
  width: 12px;
}
/* Track */
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  -webkit-border-radius: 10px;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background: rgba(163, 231, 245, 1);
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}
::-webkit-scrollbar-thumb:window-inactive {
  background: rgb(9, 82, 79);
}

.wrapper {
  display: grid;
  grid-template-columns: 30% 70%;	
  padding-left: 10px;
}


