.restaurantlabels{
    padding-top: 40px;
}
label.reviewlabels{
    padding-left: 40px;
    color: #9aadb0;  
}
.restaurantinfo{
    color: #a3e7f5;
    text-align: left;
    padding-left: 30px;
}
.restaurantlinks{
    color: #a3e7f5;
    text-align: left;
    padding-left: 30px;
}
.restaurantlinks:hover{
    color:#9aadb0;
}
.reviewTitle{
    color: #a3e7f5;
    text-align: left;
    padding-left: 30px;
    padding-top: 25px;
}
.restaurantImage{
    width: 5cm;
    border-radius: 30px;
    border: 5px solid #a3e7f5;
    object-fit: cover;
}
.restoo{
    padding: 30px;
    padding-left: 60px;
}
.reviewsss{
    overflow: auto;
    min-height: 325px;
    max-height: 325px;
    max-width: 80vw;
    border-radius: 30px;
    border: 5px solid #a3e7f5;
}
p.rating{
    text-align: left;
    padding-left: 40px;
    color:#9aadb0;
}
div.singularReview{
    display: inline-block;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 20px;
    padding-bottom: 20px;
}
label.userrr{
    color:#a3e7f5;
}
.filledStar{
    color:#a3e7f5;
}
.filledStar:hover{
    color:#e1f7fb;
}