.restaurantlabels{
    padding-top: 40px;
}
label.reviewlabels{

    color: #9aadb0;  
}
.restaurantinfo{
    color: #a3e7f5;
    text-align: left;
    padding-left: 30px;
}
.restaurantlinks{
    color: #a3e7f5;
    text-align: left;
    padding-left: 30px;
}
.restaurantlinks:hover{
    color:#9aadb0;
}
.reviewTitle{
    color: #a3e7f5;
    text-align: left;
    padding-left: 10px;
}
.restaurantImage{
    width: 5cm;
    border-radius: 30px;
    border: 5px solid #a3e7f5;
    object-fit: cover;
}
.restoo{
    padding: 30px;
    padding-left: 60px;
}
.reviewsss{
    overflow: auto;
    min-height: 305px;
    max-height: 305px;
    max-width: 80vw;
    border-radius: 30px;
    border: 5px solid #a3e7f5;
}
.noReviewss{
    overflow: auto;
    width: fit-content;
    height: fit-content;
    border-radius: 30px;
    border: 5px solid #a3e7f5;
    align-items: left;
    text-align: left;
}
p.rating{
    text-align: left;
    padding-left: 21px;
    color:#9aadb0;
}
div.singularReview{
    display: inline-block;
    padding-left: 50px;
    padding-right: 100px;
    padding-top: 35px;
    padding-bottom: 35px;
}
label.userrr{
    color:#a3e7f5;
}
.filledStar{
    color:#a3e7f5;
}
.filledStar:hover{
    color:#e1f7fb;
}
label.timeAgoo{
    color:#9aadb0;
}
.placeeee{
    font-weight: bolder;
    font-style: italic;
    padding-top: 10px;
    padding-left: 10px;
    color: rgb(80, 142, 139);
}
.srry{
    text-align: left;
    color: #a3e7f5;
    padding: 20px;
}
p.ovrRating{
    text-align: left;
    padding-left: 21px;
    color:#a3e7f5;
    font-style:oblique;
}