.map-container {
    position: fixed;
    height: 100%;
    width: 100%;
  }
  .sidebarStyle {
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    margin: 12px;
    background-color: #404040;
    color: #ffffff;
    z-index: 1 !important;
    padding: 6px;
    font-weight: bold;
  }
  
  .marker {
    background-color: #4CAF50;
    border: 1px solid blue;
    color: white;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    border-radius: 50%;
  }
  .mapboxgl-popup {
    max-width: 200px;
  }
  .mapboxgl-popup-content {
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-size: small;
    border: 5px solid #a3e7f5;
    border-radius: 30px;
    background-color: #1e1e1e;
    color: #a3e7f5;
  }
  p{
    padding-top: 10px;
    padding-left: 5px;
    text-align: left;
  }

